terraform/aws/EC2+VPC+SG/.terraform/providers/registry.terraform.io/hashicorp/aws/4.48.0/linux_amd64/terraform-provider-aws_v4.48.0_x5
terraform/aws/EC2+VPC+SG/.terraform/providers/registry.terraform.io/hashicorp/local/2.2.3/linux_amd64/terraform-provider-local_v2.2.3_x5
terraform/aws/EC2+VPC+SG/.terraform/providers/registry.terraform.io/hashicorp/tls/4.0.4/linux_amd64/terraform-provider-tls_v4.0.4_x5
terraform/aws/EC2+VPC+SG/.terraform.lock.hcl
terraform/aws/EC2+VPC+SG/terraform.tfstate
terraform/aws/EC2+VPC+SG/terraform.tfstate.backup
terraform/aws/EC2+SG/.terraform/providers/registry.terraform.io/hashicorp/aws/2.70.1/linux_amd64/terraform-provider-aws_v2.70.1_x4
terraform/aws/EC2+SG/.terraform/providers/registry.terraform.io/hashicorp/local/2.2.3/linux_amd64/terraform-provider-local_v2.2.3_x5
terraform/aws/EC2+SG/.terraform/providers/registry.terraform.io/hashicorp/tls/4.0.4/linux_amd64/terraform-provider-tls_v4.0.4_x5
terraform/aws/EC2+SG/.terraform.lock.hcl
.gitignore
terraform/aws/EC2+SG/terraform.tfstate.backup
terraform/aws/EC2+SG/terraform.tfstate
terraform/aws/EC2-Modularizada/.terraform/modules/modules.json
terraform/aws/EC2-Modularizada/.terraform/providers/registry.terraform.io/hashicorp/aws/4.48.0/linux_amd64/terraform-provider-aws_v4.48.0_x5
terraform/aws/EC2-Modularizada/.terraform/providers/registry.terraform.io/hashicorp/local/2.2.3/linux_amd64/terraform-provider-local_v2.2.3_x5
terraform/aws/EC2-Modularizada/.terraform/providers/registry.terraform.io/hashicorp/tls/4.0.4/linux_amd64/terraform-provider-tls_v4.0.4_x5
terraform/aws/EC2-Modularizada/terraform.tfstate.backup
terraform/aws/EC2-Modularizada/terraform.tfstate
terraform/aws/ssh/private_key.pem
terraform/aws/EC2/.terraform/providers/registry.terraform.io/hashicorp/aws/4.49.0/linux_amd64/terraform-provider-aws_v4.49.0_x5
terraform/aws/EC2/terraform.tfstate
terraform/aws/EC2/terraform.tfstate.backup
terraform/aws/EC2+ModuleVPC/.terraform/providers/registry.terraform.io/hashicorp/aws/4.49.0/linux_amd64/terraform-provider-aws_v4.49.0_x5
terraform/aws/EC2+ModuleVPC/.terraform/providers/registry.terraform.io/hashicorp/tls/4.0.4/linux_amd64/terraform-provider-tls_v4.0.4_x5
terraform/aws/EC2+ModuleVPC/terraform.tfstate.backup
.gitignore
terraform/aws/EC2+ModuleVPC/terraform.tfstate
terraform/aws/EC2-Modularizada/.terraform/providers/registry.terraform.io/hashicorp/aws/4.50.0/linux_amd64/terraform-provider-aws_v4.50.0_x5
terraform/aws/EC2-Modularizada/.terraform/providers/registry.terraform.io/hashicorp/local/2.3.0/linux_amd64/terraform-provider-local_v2.3.0_x5
